.containerpro{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
    padding: 10px;
}

.midsec {
    
    margin-top: 100px;
    background-color: white;
    border-radius: 15px;
    background-position: left top;
    background-repeat: repeat;
    padding: auto;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    padding: 10px
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.containerind{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

#pic{
    padding: 10px;
}

.project{
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px solid purple;
}

.img1{
    background-image: url="/Images/wordguess.jpg";
}

.gallerycontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer {
    margin-top: auto;
    text-align: center;
}

body {
    background-image: url('Assets/beach-foam-landscape-nature-533923\ \(1\).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }