.containerpro{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
    padding: 10px;
}

.midsec {
    
    margin-top: 100px;
    background-color: clear;
    width: auto;
    height: auto;
    margin-bottom: 100px;

}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.jumbotron {
    background-color: clear;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 2px;
}

.insideJT {
    font-weight: normal;
}


#pic{
    border-radius: 15px;
    background-position: auto;
    background-repeat: auto;
    padding: 15px;
    max-width: fit-content;
    height: auto;
}

.project{
    height: 200px;
    width: 200px;
    margin: 10px;
}

.img1{
    background-image: url="/Images/wordguess.jpg";
}

.gallerycontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer {
    margin-top: auto;
    text-align: center;
}

body {
    background-image: url('Assets/beach-foam-landscape-nature-533923\ \(1\).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .btn-primary {
      background-color:#148c89;
      border-color: #148c89;
      color: white ;
  }

  .form-group {
      color: black ;
      font-weight: normal;
      font-size: large;
  }
